/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font-family: 'Lora', serif;
}

/*Add book form*/
.form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  visibility: hidden;
  background-color: white;
  z-index: 9999;
}

.form-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  visibility: hidden;
  z-index: 9998;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vw 2vw;
}

form div {
  display: flex;
  align-items: center;
  margin-bottom: .75vw;
}

.form-header, .form-sub {
  color: #323232;
}

.form-header {
  font-size: 2vw;
  font-weight: bold;
  margin-bottom: 1vw;
}

.form-sub {
  font-size: 1.5vw;
  margin-right: 0.5vw;
}

input:not(.read) {
  outline: none;
  width: 85%;
  height: 2vw;
  margin-bottom: 1vw;
  font-size: 1.25vw;
  padding: .25vw;
  outline: none;
  border: 1px solid black;
  color: #323232;
}

.read {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  height: 1.5vw;
  width: 1.5vw;
  margin-left: 0.5vw;
  outline: none;
  border: 1px solid black;
  position: relative; 
}

.read:checked::before {
  content: '\2714'; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2vw; 
  color: #4d4c4c;
}

.submit {
  width: 80%;
  height: 3vw;
  border-radius: 2.5vw;
  border-style: none;
  font-size: 1.25vw;
  color: white;
  background-color: #323232;
  transition: 0.5s background-color ease;
}

.submit:hover {
  cursor: pointer;
  background-color: #4d4c4c;
}

.required {
  display: none;
  color: #CC0000;
  font-size: 1vw;
  margin-top: -0.5vw;
  margin-bottom: 0.5vw;
}

/*Header*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #DDD0C8;
  padding: 2.5vw;
  border-bottom: 1px #323232 dashed;
}

.header-title {
  font-size: 3.5vw;
  color: #323232;
}

.add {
  width: 8vw;
  height: 4vw;
  border-radius: 2.5vw;
  border-style: none;
  font-size: 1.25vw;
  color: white;
  background-color: #323232;
  transition: 0.5s background-color ease;
}

.add:hover {
  cursor: pointer;
  background-color: #4d4c4c;
}

.header div {
  display: flex;
  align-items: center;
}

iframe {
  width: 10vw;
  height: 6vw;
  margin-left: 2vw;
  pointer-events: none;
}

/*Main*/
.main {
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
  gap: 1vw;
  padding: 2vw;
}

/*Card*/
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px #323232 dashed;
  padding: .75vw;
  position: relative;
}

.card div {
  margin-top: 0.5vw;
}

.card div button:nth-of-type(2) {
  margin-left: .5vw;
}

.card p:nth-of-type(2), .card p:nth-of-type(3) {
  margin-top: .5vw;
}

.card p {
  font-family: 'Lobster', cursive;
  font-size: 2vw;
  word-break: break-all;
  white-space: normal;
}

.card button {
  border: 1px #323232 dashed;
  color: #323232;
  background-color: white;
  height: auto;
  width: auto;
  padding: .5vw .7vw;
  font-size: 1.5vw;
  transition: 0.1s transform ease;
}

.card button:hover {
  cursor: pointer;
  transform: translateY(-.1vw);
}

.empty {
  text-align: center;
  margin-top: 2vw;
  font-size: 2vw;
}